<p id="notice"><%= notice %></p>

<p>
  <strong>Medicament:</strong>
  <%= @treatment.medicament %>
</p>

<p>
  <strong>Consultation:</strong>
  <%= @treatment.consultation %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @treatment.observation %>
</p>

<p>
  <strong>Status:</strong>
  <%= @treatment.status %>
</p>

<%= link_to 'Edit', edit_treatment_path(@treatment) %> |
<%= link_to 'Back', treatments_path %>
