<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @profile.birth_date %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>Service:</strong>
  <%= @profile.service %>
</p>

<p>
  <strong>Role:</strong>
  <%= @profile.role %>
</p>

<p>
  <strong>Specialty one:</strong>
  <%= @profile.specialty_one %>
</p>

<p>
  <strong>Specialty two:</strong>
  <%= @profile.specialty_two %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @profile.status %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
