<%= form_with(model: surgical_antecedent, local: true) do |form| %>
  <% if surgical_antecedent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(surgical_antecedent.errors.count, "error") %> prohibited this surgical_antecedent from being saved:</h2>

      <ul>
      <% surgical_antecedent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :present %>
    <%= form.text_field :present %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :consultation_id %>
    <%= form.text_field :consultation_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
