<%= form_with(model: syndromic_grouping, local: true) do |form| %>
  <% if syndromic_grouping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(syndromic_grouping.errors.count, "error") %> prohibited this syndromic_grouping from being saved:</h2>

      <ul>
      <% syndromic_grouping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :syndromic_grouping %>
    <%= form.text_area :syndromic_grouping %>
  </div>

  <div class="field">
    <%= form.label :consultation_id %>
    <%= form.text_field :consultation_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
