<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @analysis.patient %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @analysis.doctor %>
</p>

<p>
  <strong>Name:</strong>
  <%= @analysis.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @analysis.price %>
</p>

<p>
  <strong>Requesting doctor:</strong>
  <%= @analysis.requesting_doctor %>
</p>

<p>
  <strong>Sample date:</strong>
  <%= @analysis.sample_date %>
</p>

<p>
  <strong>Sample:</strong>
  <%= @analysis.sample %>
</p>

<p>
  <strong>Validated by:</strong>
  <%= @analysis.validated_by %>
</p>

<p>
  <strong>Validation date:</strong>
  <%= @analysis.validation_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @analysis.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @analysis.user %>
</p>

<%= link_to 'Edit', edit_analysis_path(@analysis) %> |
<%= link_to 'Back', analyses_path %>
