<p id="notice"><%= notice %></p>

<h1>Imputations</h1>

<table>
  <thead>
    <tr>
      <th>Arrival mail</th>
      <th>Service</th>
      <th>Agent</th>
      <th>Reason</th>
      <th>Reserved suite</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imputations.each do |imputation| %>
      <tr>
        <td><%= imputation.arrival_mail %></td>
        <td><%= imputation.service %></td>
        <td><%= imputation.agent %></td>
        <td><%= imputation.reason %></td>
        <td><%= imputation.reserved_suite %></td>
        <td><%= link_to 'Show', imputation %></td>
        <td><%= link_to 'Edit', edit_imputation_path(imputation) %></td>
        <td><%= link_to 'Destroy', imputation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Imputation', new_imputation_path %>
