<% @permissions.each do |permission| %>
    <tr>
    <td><%= permission.name %></td>
    <td><%= permission.description %></td>
    <td><%= permission.status %></td>
    <td><%= link_to 'Show', permission %></td>
    <td><%= link_to 'Edit', edit_permission_path(permission) %></td>
    <td><%= link_to 'Destroy', permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>