<% @patients.each do |patient| %>
      <tr>
        <!-- <td><%= patient.identifier %></td>-->
        <td><%= patient.first_name %></td>
        <td><%= patient.last_name %></td>
        <td><%= patient.birth_date %></td>
        <td><%= patient.gender %></td>
       
        
        <td>
			<div class="action-buttons">
				<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_patient_path(patient), title: "Modifier", remote: true %>


<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), patient_delete_path(patient), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>


      </tr>
    <% end %>