<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @patient.identifier %>
</p>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @patient.birth_date %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Ethnic group:</strong>
  <%= @patient.ethnic_group %>
</p>

<p>
  <strong>Born place:</strong>
  <%= @patient.born_place %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient.city %>
</p>

<p>
  <strong>Neighbourhood:</strong>
  <%= @patient.neighbourhood %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance %>
</p>

<p>
  <strong>Insurance identifier:</strong>
  <%= @patient.insurance_identifier %>
</p>

<p>
  <strong>User:</strong>
  <%= @patient.user %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
