<%= form_with(model: input_stock_entry, local: false) do |form| %>
 <div class="modal-body">
		<ul class="errors">
    	</ul>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
          <%= form.label t(:input_type ) %>
          <%= form.collection_select(:input_type_id, @input_types,  :id, :name , {prompt: "Sélectionner"}, style: "width: 100%", class: "form-control", required: true) %>

        </div>

        <div class="form-group">
          <%= form.label t(:provider) %>
          <%= form.collection_select(:provider_id, @providers,  :id, :company , {prompt: "Sélectionner"}, style: "width: 100%", class: "form-control", required: true) %>

        </div>

        <div class="form-group">
          <%= form.label t(:input) %>
        
          <%= form.collection_select(:input_id, @inputs,  :id, :name , {prompt: "Sélectionner"}, style: "width: 100%", class: "form-control", required: true) %>

        </div>

        
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label t(:quantity) %>
        <%= form.number_field :quantity , class: "form-control", placeholder: "0", required: true %>
      </div>

      <div class="form-group">
        <%= form.label t(:unit) %>
        <%= form.select :unit , [["Carton"], ["Boîte"], ["Pâquet"], ["Plaquette"]], {prompt: "Sélectionner"},  style: "width: 100%", class: "form-control", placeholder: "Unité", required: true %>
      </div>

      <div class="form-group">
        <%= form.label t(:delivery_number) %>
        <%= form.text_field :delivery_number , class: "form-control", placeholder: "N°BL" %>
      </div>
    </div>
  </div>


  


  

  </div><!-- modal body -->
  <div class="modal-footer">
    <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
    <%= form.submit  class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>
<% end %>
