<p id="notice"><%= notice %></p>

<h1>Result Items</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @result_items.each do |result_item| %>
      <tr>
        <td><%= link_to 'Show', result_item %></td>
        <td><%= link_to 'Edit', edit_result_item_path(result_item) %></td>
        <td><%= link_to 'Destroy', result_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result Item', new_result_item_path %>
