<tr>
<td class="uppercase">Nom</td>
<td ><%= organization.name  %></td>
</tr>

<tr>
<td class="uppercase">Directeur Général</td>
<td><%= organization.director %></td>
</tr>

<tr>
<td class="uppercase">Adresse </td>
<td><%= organization.address %></td>
</tr>


<tr>
<td class="uppercase">Ville</td>
<td><%= organization.city %></td>
</tr>
<tr>
<td class="uppercase">Pays</td>
<td><%= organization.country  %></td>
</tr>

<tr>
<td class="uppercase">Téléphone</td>
<td><%= organization.phone  %></td>
</tr>